# Updating Values

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

## Rename a Column and Index

### Rename a column

In [4]:
countries = pd.read_csv("world-happiness-report-2021.csv")
countries.head()

,Country name,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

In [6]:
mapper = {"Regional indicator":"regional_indicator","Ladder score":"ladder_score"}

In [8]:
countries.rename(columns=mapper).head()

,Country name,regional_indicator,ladder_score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
0,Finland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
1,Denmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
2,Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
3,Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
4,Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

### Rename an Index / Indexes

In [11]:
countries.set_index("Country name",inplace=True)

In [10]:
mapper2 = {"Denmark":"Hallmark","Finland":"Fireland","Ireland":"Direland"}

In [14]:
countries.rename(index=mapper2).head()

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Fireland,Western Europe,7.842,0.032,7.904,7.780,10.775,0.954,72.0,0.949,-0.098,0.186,2.43,1.446,1.106,0.741,0.691,0.124,0.481,3.253
Hallmark,Western Europe,7.620,0.035,7.687,7.552,10.933,0.954,72.7,0.946,0.030,0.179,2.43,1.502,1.108,0.763,0.686,0.208,0.485,2.868
Switzerland,Western Europe,7.571,0.036,7.643,7.500,11.117,0.942,74.4,0.919,0.025,0.292,2.43,1.566,1.079,0.816,0.653,0.204,0.413,2.839
Iceland,Western Europe,7.554,0.059,7.670,7.438,10.878,0.983,73.0,0.955,0.160,0.673,2.43,1.482,1.172,0.772,0.698,0.293,0.170,2.967
Netherlands,Western Europe,7.464,0.027,7.518,7.410,10.932,0.942,72.4,0.913,0.175,0.338,2.43,1.501,1.079,0.753,0.647,0.302,0.384,2.798

## replace() method

Replace method replace row values with another.

In [25]:
pokemon = pd.read_csv("Pokemon.csv")[["Name","Type 1", "Type 2"]].head()
pokemon.head()

         Name Type 1  Type 2
0   Bulbasaur  Grass  Poison
1     Ivysaur  Grass  Poison
2    Venusaur  Grass  Poison
3  Charmander   Fire     NaN
4  Charmeleon   Fire     NaN

Now we replace fire with 'Aag'
and, grass with 'Ghaans'

In [26]:
pokemon["Type 1"].replace(["Fire","Grass"],["Aag","Ghaans"])

0    Ghaans
1    Ghaans
2    Ghaans
3       Aag
4       Aag
Name: Type 1, dtype: object

> Type 2 column contains two NaN values, we count all values.
> By default, value_counts() doesn't include NaN.
> We type value_counts(dropna=False)

In [28]:
pokemon["Type 1"].value_counts()

Grass    3
Fire     2
Name: Type 1, dtype: int64

In [29]:
pokemon["Type 2"].value_counts()

Poison    3
Name: Type 2, dtype: int64

In [30]:
pokemon["Type 2"].value_counts(dropna=False)

Poison    3
NaN       2
Name: Type 2, dtype: int64

replace NaN with "IDK"

In [32]:
pokemon["Type 2"].replace(np.nan,"IDK")

0    Poison
1    Poison
2    Poison
3       IDK
4       IDK
Name: Type 2, dtype: object

In [34]:
# or, replace NaN with pandas 'None'
pokemon["Type 2"].replace([None],"IDK")

0    Poison
1    Poison
2    Poison
3       IDK
4       IDK
Name: Type 2, dtype: object

## Updating values using .loc[]

> To view specific rows and their speific columns we use .loc[]

> .loc[] is also used to update the values of different columns

In [37]:
countries.loc[["India","Afghanistan","Pakistan","Bangladesh"]]

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
India,South Asia,3.819,0.026,3.869,3.769,8.755,0.603,60.633,0.893,0.089,0.774,2.43,0.741,0.316,0.383,0.622,0.246,0.106,1.405
Afghanistan,South Asia,2.523,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895
Pakistan,South Asia,4.934,0.068,5.066,4.802,8.458,0.651,58.709,0.726,0.098,0.787,2.43,0.637,0.423,0.322,0.418,0.252,0.097,2.784
Bangladesh,South Asia,5.025,0.046,5.115,4.934,8.454,0.693,64.800,0.877,-0.041,0.682,2.43,0.635,0.520,0.514,0.603,0.161,0.164,2.427

In [49]:
# To change regional indicator and index score of all four countries
countries.loc[["India","Afghanistan","Pakistan","Bangladesh"],["Regional indicator","Ladder score"]]=["Akhand Bharat","Avg"]
# This updates the value of both columns.

In [50]:
countries.loc[["India","Afghanistan","Pakistan","Bangladesh"]]

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
India,Akhand Bharat,Avg,0.026,3.869,3.769,8.755,0.603,60.633,0.893,0.089,0.774,2.43,0.741,0.316,0.383,0.622,0.246,0.106,1.405
Afghanistan,Akhand Bharat,Avg,0.038,2.596,2.449,7.695,0.463,52.493,0.382,-0.102,0.924,2.43,0.370,0.000,0.126,0.000,0.122,0.010,1.895
Pakistan,Akhand Bharat,Avg,0.068,5.066,4.802,8.458,0.651,58.709,0.726,0.098,0.787,2.43,0.637,0.423,0.322,0.418,0.252,0.097,2.784
Bangladesh,Akhand Bharat,Avg,0.046,5.115,4.934,8.454,0.693,64.800,0.877,-0.041,0.682,2.43,0.635,0.520,0.514,0.603,0.161,0.164,2.427

Changes made with .loc() are permanent

## Create a new column and rename values

We'll work with Middle-Eastern countries

In [51]:
countries.loc[["Saudi Arabia","Iraq", "Kuwait"]]

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual
Country name,,,,,,,,,,,,,,,,,,,
Saudi Arabia,Central Asia,Hot,0.056,6.604,6.384,10.743,0.891,66.603,0.877,-0.149,0.684,2.43,1.435,0.964,0.571,0.603,0.090,0.163,2.668
Iraq,Central Asia,Hot,0.059,4.970,4.738,9.240,0.746,60.583,0.630,-0.053,0.875,2.43,0.910,0.638,0.381,0.302,0.153,0.041,2.429
Kuwait,Central Asia,Hot,0.066,6.235,5.977,10.817,0.843,66.900,0.867,-0.104,0.736,2.43,1.461,0.857,0.580,0.591,0.120,0.130,2.368

Now, we want to update regional index column rows to 'Central Asia'
and,
Create a new column, 'weather' and set all to 'super-hot'

In [52]:
countries.loc[["Saudi Arabia","Iraq", "Kuwait"],["Regional indicator","Weather"]]=["Central Asia","Hot"]

In [53]:
countries.loc[["Saudi Arabia","Iraq", "Kuwait"]]

,Regional indicator,Ladder score,Standard error of ladder score,upperwhisker,lowerwhisker,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Ladder score in Dystopia,Explained by: Log GDP per capita,Explained by: Social support,Explained by: Healthy life expectancy,Explained by: Freedom to make life choices,Explained by: Generosity,Explained by: Perceptions of corruption,Dystopia + residual,Weather
Country name,,,,,,,,,,,,,,,,,,,,
Saudi Arabia,Central Asia,Hot,0.056,6.604,6.384,10.743,0.891,66.603,0.877,-0.149,0.684,2.43,1.435,0.964,0.571,0.603,0.090,0.163,2.668,Hot
Iraq,Central Asia,Hot,0.059,4.970,4.738,9.240,0.746,60.583,0.630,-0.053,0.875,2.43,0.910,0.638,0.381,0.302,0.153,0.041,2.429,Hot
Kuwait,Central Asia,Hot,0.066,6.235,5.977,10.817,0.843,66.900,0.867,-0.104,0.736,2.43,1.461,0.857,0.580,0.591,0.120,0.130,2.368,Hot

## Making update with loc[] and Boolean Mask

In [56]:
houses = pd.read_csv("kc_house_data.csv")
houses.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In DataFrame houses, we need to print datasets that have grade>12 and view = 4

In [60]:
# First we create a boolean mask.
good_quality = houses["grade"]>12
great_view = houses["view"] == 4
# We created two boolean masks

We've created two boolean masks, with the help of these masks, we'll filter and the houses with grade grater than 12 and view = 4

In [61]:
houses[good_quality & great_view]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
9254,9208900037,20140919T000000,6885000.0,6,7.75,9890,31374,2.0,0,4,...,13,8860,1030,2001,0,98039,47.6305,-122.240,4540,42730
14556,2303900035,20140611T000000,2888000.0,5,6.25,8670,64033,2.0,0,4,...,13,6120,2550,1965,2003,98177,47.7295,-122.372,4140,81021
19017,2303900100,20140911T000000,3800000.0,3,4.25,5510,35000,2.0,0,4,...,13,4910,600,1997,0,98177,47.7296,-122.370,3430,45302

We'll create a new column 'luxury-level' and update all rows to 'Normal'

In [62]:
houses["luxury_level"] = "Normal"

In [63]:
# Now, we'll update these filtered datasets luxury_level to "Ultra"
houses.loc[good_quality & great_view,["Luxury_level"]] = "Ultra"
# This keeps all rows of luxury_levels to "Normal" but, updates all filtered rows to "Ultra"

In [66]:
houses["Luxury_level"].value_counts()

Ultra    3
Name: Luxury_level, dtype: int64